* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.music-player {
  background-color: #81b3ff;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #317ff5;
  box-shadow: 0 5px 10px rgba(113, 186, 255, 0.22);
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 10px rgba(113, 186, 255, 0.22);
  animation: rotation 10s infinite linear;
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: #333;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #317ff5;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #3155f5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 10px rgba(113, 186, 255, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #317ff5;
  box-shadow: 0 5px 10px rgba(113, 186, 255, 0.22);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #317ff5;
  color: #fff;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#volume {
  position: fixed;
  width: 150px; /* Adjust the width to your preference */
  height: 5px; /* Narrower height for the vertical slider */
  background: #317ff5;
  border-radius: 5px;
  cursor: pointer;
  top: 50%; /* Adjust this value to control the vertical position */
  left: 20px; /* Adjust this value to control the horizontal position */
  transform: rotate(-90deg); /* Rotates the slider to be vertical */
  transform-origin: left; /* Ensures the rotation is smooth */
}
